---
const experiences = [
  {
    date: ["Nov 2023", "Nov 2o24"],
    role: "Full Stack Developer",
    business: "X3Lab",
    // accomplishments: [],
    contribution: "I worked at something on something, then I left",
    attachments: [{ label: "Screenshot", url: "" }],
    tech: ["Next.js", "Tailwind CSS", "Git"],
  },
  {
    date: ["Nov 2023", "Nov 2o24"],
    role: "Front End Developer",
    business: "Studio Doresh",
    // accomplishments: [],
    contribution: "I worked at something on something, then I left",
    attachments: [{ label: "Screenshot", url: "" }],
    tech: ["Next.js", "Tailwind CSS", "Git"],
  },
  {
    date: ["Nov 2022", "Till Date"],
    role: "Web Developer",
    business: "Freelance",
    // accomplishments: [],
    contribution:
      "I worked at on projects across ecommerce to fintech blah blah blach.",
    attachments: [{ label: "Screenshot", url: "" }],
    tech: ["Next.js", "Tailwind CSS", "Git"],
  },
];
---

<section
  id="experiences"
  class="pt-16 pb-20 lg:flex lg:items-start lg:gap-x-20"
>
  <header
    class="mb-8 flex items-center gap-x-4 justify-between lg:flex-col lg:items-start lg:gap-y-1 lg:sticky lg:top-28 lg:h-full"
  >
    <h2 class="text-base lg:text-xl font-semibold uppercase text-zinc-800">
      Work Experiences
    </h2>

    <button class="text-start text-sm underline py-1.5 mt-auto">
      Download My Resume
    </button>
  </header>

  <div class="lg:ms-auto flex flex-col gap-y-20 lg:gap-y-20">
    {
      experiences.map((work) => (
        <article class="w-full lg:max-w-lg flex flex-col grow">
          <header class="mb-2">
            <span class="text-xs mb-6 capitalize">
              {work.date[0]} — {work.date[1]}
            </span>

            <h4 class="text-base font-medium lg:text-lg text-nowrap">
              <span>{work.role}</span> at <a href="#">{work.business}</a>
            </h4>
          </header>

          <p class="text-sm lg:text-base py-1">{work.contribution}</p>

          <div class="flex flex-wrap gap-x-6 gap-y-4 py-2 mb-2">
            {work.attachments.map((attachment) => {
              return (
                <a
                  href={attachment.url}
                  class="text-sm text-blue-600 hover:underline"
                >
                  {attachment.label}
                </a>
              );
            })}
          </div>

          <ul class="text-sm text-black-600 font-medium py-1 flex flex-wrap gap-6">
            {work.tech.map((tech) => {
              return (
                <li class="text-stone-600 py-1 px-2__ rounded-lg bg-zinc-100..">
                  {tech}
                </li>
              );
            })}
          </ul>
        </article>
      ))
    }
  </div>
</section>
