---
const experiences = [
  {
    date: ["July 2024", "Till Date"],
    role: "Full Stack Developer",
    business: "X3Lab",
    contribution:
      "Conducted code reviews, feasibility studies, and software design to enhance project quality. Improved API structure and implemented new functional integrations within an existing Node.js codebase. Converted Figma designs into fully responsive web interfaces using Next.js and Tailwind CSS.",
    attachments: [{ label: "Screenshot", url: "" }],
    tech: ["React.js", "Node.js", "Tailwind CSS", "Nest.js", "Git"],
  },
  {
    date: ["Nov 2023", "Nov 2024"],
    role: "Front End Developer",
    business: "Studio Doresh",
    contribution:
      "Translated UI/UX designs into functional, accessible, and responsive components while developing and maintaining dynamic web applications using Vanilla JavaScript and React.js. Integrated APIs, optimized performance, and collaborated under the mentorship of a former developer turned UI/Product Designer.",
    attachments: [{ label: "Screenshot", url: "" }],
    tech: ["Mobile First CSS", "DOM Javascript", "Bootstrap", "Figma", "Git"],
  },
  {
    date: ["Nov 2021", "Till Date"],
    role: "Web Developer",
    business: "Freelance",
    contribution:
      "Worked across various domains including SaaS, gamification, fintech, e-commerce, headless CMS, and BaaS to build full-stack web applications with strong focus on user experience, solving both personal and client challenges through effective, scalable solutions.",
    attachments: [{ label: "Screenshot", url: "" }],
    tech: ["Typescript", "Next.js", "Nest.js", "Tailwind CSS", "Git"],
  },
];
---

<section
  id="experiences"
  class="pt-16 pb-20 lg:flex lg:items-start lg:gap-x-20"
>
  <header
    class="mb-8 flex items-center gap-x-4 justify-between lg:flex-col lg:items-start lg:gap-y-1 lg:sticky lg:top-28 lg:h-full"
  >
    <h2 class="text-base lg:text-xl font-semibold uppercase text-zinc-800">
      Work Experiences
    </h2>

    <button class="text-start text-sm underline py-1.5 mt-auto">
      Download My Resume
    </button>
  </header>

  <div class="lg:ms-auto flex flex-col gap-y-20 lg:gap-y-20">
    {
      experiences.map((work) => (
        <article class="w-full lg:max-w-lg flex flex-col grow">
          <header class="mb-2">
            <span class="text-xs mb-6 capitalize">
              {work.date[0]} — {work.date[1]}
            </span>

            <h4 class="text-base font-medium lg:text-lg text-nowrap">
              <span>{work.role}</span> at <a href="#">{work.business}</a>
            </h4>
          </header>

          <p class="text-sm lg:text-base py-1">{work.contribution}</p>

          <div class="flex flex-wrap gap-x-6 gap-y-4 py-2 mb-2">
            {work.attachments.map((attachment) => {
              return (
                <a
                  href={attachment.url}
                  class="text-sm text-blue-600 hover:underline"
                >
                  {attachment.label}
                </a>
              );
            })}
          </div>

          <ul class="text-sm text-black-600 font-medium py-1 flex flex-wrap gap-6">
            {work.tech.map((tech) => {
              return (
                <li class="text-stone-600 py-1 px-2__ rounded-lg bg-zinc-100..">
                  {tech}
                </li>
              );
            })}
          </ul>
        </article>
      ))
    }
  </div>
</section>
