---
import { Button } from "@/lib/components/ui/button";
import { ExternalLink } from "lucide-astro";

const experiences = [
  {
    date: ["July 2024", "Till Date"],
    role: "Full Stack Developer",
    business: "X3Lab",
    contribution:
      "Conducted code reviews, feasibility studies, and software design to enhance project quality. Improved API structure and implemented new functional integrations within an existing Node.js codebase. Converted Figma designs into fully responsive web interfaces using Next.js and Tailwind CSS.",
    attachments: [{ label: "Screenshot", url: "" }],
    tech: ["React.js", "Node.js", "Tailwind CSS", "Nest.js", "Git"],
  },
  {
    date: ["Nov 2023", "Nov 2024"],
    role: "Front End Developer",
    business: "Studio Doresh",
    contribution:
      "Translated UI/UX designs into functional, accessible, and responsive components while developing and maintaining dynamic web applications using Vanilla JavaScript and React.js. Integrated APIs, optimized performance, and collaborated under the mentorship of a former developer turned UI/Product Designer.",
    attachments: [{ label: "Screenshot", url: "" }],
    tech: ["Mobile First CSS", "DOM Javascript", "Bootstrap", "Figma", "Git"],
  },
  {
    date: ["Nov 2021", "Till Date"],
    role: "Web Developer",
    business: "Freelance",
    contribution:
      "Worked across various domains including SaaS, gamification, fintech, e-commerce, headless CMS, and BaaS to build full-stack web applications with strong focus on user experience, solving both personal and client challenges through effective, scalable solutions.",
    attachments: [{ label: "Screenshot", url: "" }],
    tech: ["Typescript", "Next.js", "Nest.js", "Tailwind CSS", "Git"],
  },
];
---

<section id="experiences" class="pt-16 pb-20 lg:flex lg:items-start lg:gap-x-3">
  <header
    class="mb-8 flex flex-wrap gap-y-2 items-center gap-x-4 justify-between lg:flex-col lg:items-start lg:gap-y-4 lg:sticky lg:top-28 lg:h-full"
  >
    <h2 class="text-4xl lg:text-5xl font-semibold uppercase text-zinc-800">
      Work Experiences
    </h2>

    <Button
      variant="link"
      className="px-0 flex text-sm ms-auto sm:ms-0 text-blue-600"
    >
      Download My Resume
      <ExternalLink />
    </Button>
  </header>

  <div class="lg:ms-auto flex flex-col gap-y-20 lg:gap-y-20">
    {
      experiences.map((work) => (
        <article class="w-full lg:max-w-lg flex flex-col grow">
          <header class="mb-2">
            <span class="text-xs font-mono mb-6 capitalize">
              {work.date[0]} — {work.date[1]}
            </span>

            <h4 class="text-base font-semibold lg:text-lg sm:text-nowrap">
              <span>{work.role}</span> at{" "}
              <a href="#" class="text-zinc-600">
                {work.business}
              </a>
            </h4>
          </header>

          <p class="text-sm lg:text-base">{work.contribution}</p>

          <ul class="text-sm font-medium py-1 flex flex-wrap gap-2">
            {work.tech.map((tech, index, arr) => {
              return (
                <li class="text-zinc-600 py-1">
                  {tech}
                  {index + 1 !== arr.length ? "," : ""}
                </li>
              );
            })}
          </ul>

          {/* <div class="flex flex-wrap justify-end gap-x-3 gap-y-4 py-2">
            {work.attachments.map((attachment) => {
              return (
                <a
                  href={attachment.url}
                  class="text-sm text-blue-600 hover:underline"
                >
                  {attachment.label}
                </a>
              );
            })}
          </div> */}
        </article>
      ))
    }
  </div>
</section>
