---
import { ExternalLink } from "lucide-astro";

const highlights = [
  {
    cover: "/highlights/project-champions.png",
    id: "tournament",
    date: "2025",
    title: "Tournament Administration & Management Software",
    description:
      "App suite for tournament scheduling, communication, and mobilization.",
    tech: ["PWA", "React.js", "Nest.js", "Next.js", "TailwindCSS"],
    tags: ["Full Stack"],
    demoUrl: "https://renna.netlify.app",
    detailsUrl: "https://github.com/everurstruly/tournament-management-system",
  },
  {
    cover: "/highlights/project-camera.jpg",
    id: "travel",
    date: "2025",
    title: "Travel Experience Booking Platform",
    description:
      "An online marketplace for booking curated tours and activities worldwide, for relaxation and adventure.",
    tech: ["Next.js", "Nest.js", "ShadcnUI", "PostgreSQL"],
    tags: ["Full Stack"],
    // demoUrl: "https://github.com/everurstruly",
    detailsUrl:
      "https://github.com/everurstruly/travel-experiences-marketplace",
  },
  {
    cover: "/highlights/project-wallet.png",
    id: "fintech",
    date: "2024",
    title: "Offramping Fintech Platform",
    description:
      "A fintech platform enabling converting digital assets to fiat currency.",
    tech: ["Next.js", "API Development", "PWA", "BaaS"],
    tags: ["Full Stack"],
    demoUrl: "https://rmlpay.vercel.app",
    detailsUrl: "https://github.com/everurstruly",
  },
  {
    cover: "/highlights/project-game-controller.jpg",
    id: "game",
    date: "2022",
    title: "Word Guessing Puzzle Game",
    description:
      "A clone of a once-famous engaging game where players try to guess a hidden five-letter word within six attempts.",
    tech: ["Javascript", "DOM Manipulation", "Responsive CSS", "HTML5"],
    tags: ["Front End"],
    demoUrl: "https://everurstruly.github.io/The-New-York-Times-Wordle-Clone/",
    detailsUrl: "github.com/everurstruly/The-New-York-Times-Wordle-Clone",
  },
  // {
  //   id: "static",
  //   date: "2025",
  //   title: "Brochure/Marketing Website",
  //   description:
  //     "A static website showcasing the features and benefits of a business/person product or service.",
  //   tech: ["Astro", "React", "Nest.js"],
  //   tags: ["Front End"],
  //   demoUrl: "https://agencylikeportfolio.netlify.app/",
  //   detailsUrl: "github.com/everurstruly",
  // },
];

const tints = ["red", "green", "yellow", "blue"];
---

<section id="highlights" class="py-20">
  <header
    class="mb-8 lg:mb-10 flex flex-wrap items-center gap-y-2 gap-x-4 justify-between"
  >
    <h2
      class="text-4xl font-semibold uppercase text-zinc-800 dark:text-zinc-100"
    >
      Featured Projects
    </h2>

    <a
      href="https://github.com/everurstruly?tab=repositories"
      class="px-0 flex gap-x-1 mt-4 text-sm sm:ms-auto hover:underline underline-offset-2"
      target="_blank"
      rel="noopener noreferrer"
    >
      View Archive
      <ExternalLink class="size-4 stroke-current" />
    </a>
  </header>

  <div class="flex flex-wrap gap-y-20 gap-x-8 lg:gap-x-12 lg:gap-y-20">
    {
      highlights.map((project, idx) => {
        return (
          <article class="w-full lg:w-1/3 grow">
            <div class="h-80 w-full overflow-hidden">
              <div class="tinted-image size-full bg-zinc-100">
                <img
                  src={
                    project.cover
                      ? project.cover
                      : `/me/headshot-professional.jpg`
                  }
                  alt={`${project.title}`}
                  class="w-full h-full object-scale-down"
                />

                <div
                  class="tint-overlay"
                  aria-hidden="true"
                  style={`--tint: ${tints[idx % tints.length]}`}
                />
              </div>
            </div>

            <div class="flex flex-col p-1">
              <div class="flex items-start gap-x-6 justify-between py-2">
                <h4 class="text-base sm:text-lg font-semibold !leading-tight">
                  {project.title}
                </h4>
                <span class="text-sm">{project.date}</span>
              </div>

              <p class="text-sm sm:text-base text-zinc-600">
                {project.description} <span class="font-semibold">Build:</span>{" "}
                {project.tech.map((tag, index, arr) => {
                  const prefix = index === 0 ? "" : ", ";
                  const sufix = index === arr.length - 1 ? "." : "";

                  return (
                    <>
                      {prefix}
                      {tag}
                      {sufix}
                    </>
                  );
                })}
              </p>

              <div class="flex items-center flex-wrap gap-x-4 gap-y-2 pt-2">
                {project.demoUrl && (
                  <a
                    href={project.demoUrl}
                    class="text-sm text-blue-600 hover:underline"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    Live Demo
                  </a>
                )}{" "}
                {project.detailsUrl && project.demoUrl && (
                  <span class="text-xs">//</span>
                )}
                {project.detailsUrl && (
                  <a
                    href={project.detailsUrl}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="text-sm text-blue-600 hover:underline"
                  >
                    More Details
                  </a>
                )}
              </div>
            </div>
          </article>
        );
      })
    }
  </div>
</section>

<style>
  .tinted-image {
    position: relative;
    transition: transform 3000ms ease;
  }

  .tinted-image .tint-overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: var(--tint, red);
    mix-blend-mode: multiply; /* tinting blend for solid colors */

    opacity: 0.65; /* base tint strength */
    transition: opacity 280ms ease;
  }

  article:hover .tint-overlay {
    opacity: 0.75;
  }

  article:hover .tinted-image {
    transform: scale(1.2);
  }
</style>
